<!DOCTYPE html>
<html>
<head>
	<title>Airline Database</title>
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>

<body>

<div>
	<h1>Airline Database</h1>
	<div>CS340 Final project</div>
	<div>Brad Beise</div>
	<div>Patrick Spencer</div>
</div>

{{{body}}}

<a href="/">Home Page</a>

</body>
</html>