<!DOCTYPE html>
<html>
<head>
	<title>Airline Database</title>
</head>
<body>

<div>
	<h1>Airline Database</h1>
	<div>CS340 Final project</div>
	<div>Brad Beise</div>
	<div>Patrick Spencer</div>
</div>

{{{body}}}

</body>
</html>