<h1>Add a new crewbase</h1>
<form id="addCrew" action="/crew" method="post">
	<fieldset>
		<legend>Add Crew Base</legend>
		<p>
			<label for="city">City:</label>
			<input type="text" name="city">
		</p>
	</fieldset>
</form>
<button onclick="addCrewbase()">Submit</button>
