<div>
	<h2>Crew Members</h2>
	<table border="solid">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Position</th>
				<th>Crew Base</th>
				<th>Certifications</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>John</td>
				<td>Doe</td>
				<td>Captian</td>
				<td>ATL</td>
				<td>Boeing 747, Airbus A320</td>
				<td><button name="deleteCrew">delete</button></td>
			</tr>	
		</tbody>
	</table>

	<form method="POST" action="airline.html"> <!-- Change this later -->
		<fieldset>
			<legend>Create Crew Memeber</legend>
			<p>
				<label for="fname">First Name:</label>
				<input type="text" name="fname">
			</p>
			<p>
				<label for="lname">Last Name:</label>
				<input type="text" name="lname">
			</p>
			<p>
				<label for="position">Position:</label>
				<input type="text" name="position">
			</p>
			<p>Crew Base:
				<select name="crewMemberBase">
					<option>ATL</option>
					<option>PHL</option>
					<option>LAX</option>
				</select>
			</p>
			<input type="submit" name="CrewSubmit">
		</fieldset>
	</form>

	<form method="POST" action="airline.html"> <!-- Change this later -->
		<fieldset>
			<legend>Create Crew Base</legend>
			<label for="base">City:</label>
			<input type="text" name="base">
			<input type="submit" name="baseSubmit">
		</fieldset>	
	</form>

	<form>
		<fieldset>
			<legend>Add Certification to Crew Member</legend>
			<select name="certCrew">
				<option>John Doe</option>
			</select>
			<select name="certType">
				<option>Boeing 747</option>
				<option>Airbus A320</option>
			</select>
			<input type="submit" name="certSumbit">
		</fieldset>
	</form>
</div>

<div>
	<h2>Aircraft</h2>
	<table border="solid">
		<thead>
			<tr>
				<th>Type</th>
				<th>Registration</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Boeing 747</td>
				<td>N123OS</td>
				<td><button name="deleteAircraft">delete</button></td>
			</tr>	
		</tbody>
	</table>

	<form method="POST" action="airline.html"> <!-- Change this later -->
		<fieldset>
			<legend>Create Aircraft</legend>
			<p>
				<label for="type">Type:</label>
				<select name="type">
					<option>Boeing 747</option>
					<option>Airbus A320</option>
				</select>
			</p>
			<p>
				<label for="regNum">Registration Number: </label>
				<input type="text" name="regNum">
			</p>
			<p>
				<input type="submit" name="aircraftSubmit">
			</p>
		</fieldset>
	</form>

		<form method="POST" action="airline.html"> <!-- Change this later -->
		<fieldset>
			<legend>Create Aircraft Type</legend>
			<label for="manufacturer">Manufacturer:</label>
			<input type="text" name="manufacturer">
			<label for="model">Model:</label>
			<input type="text" name="model">
			<input type="submit" name="baseSubmit">
		</fieldset>	
	</form>
</div>

<div>
	<h2>Flights</h2>
	<table border="solid">
		<thead>
			<tr>
				<th>Flight Number</th>
				<th>Departure</th>
				<th>Arrival</th>
				<th>Date/Time</th>
				<th>Aircraft</th>
				<th>Crew Members</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>4882</td>
				<td>DCA</td>
				<td>JFK</td>
				<td>2017-01-01 00:00:00</td>
				<td>N123OS</td>
				<td>John Doe, Bruce Wayne, Clark Kent</td>
				<td><button name="deleteFlight">delete</button></td>
			</tr>	
		</tbody>
	</table>

	<form>
		<fieldset>
			<legend>Create New Flight</legend>
			<p>
				<label for="flightNum">Type:</label>
				<input type="text" name="flightNum">
			</p>
			<p>
				<label for="departure">Departure City: </label>
				<input type="text" name="departure">
				<label for="arrival">Arrival City: </label>
				<input type="text" name="arrival">
			</p>
			<p>
				<label for="date">Date/Time:</label>
				<input type="datetime-local" name="date">
			</p>
			<p>Aircraft:
				<select name="flightAircraft">
					<option>N123OS</option>
					<option>N333OS</option>
				</select>
			</p>
			<p>
				<input type="submit" name="flightSubmit">
			</p>
		</fieldset>
	</form>

	<form>
		<fieldset>
			<legend>Add Crew Member to Flight</legend>
			<select name="crewFlight">
				<option>John Doe</option>
				<option>Clark Kent</option>
				<option>Bruce Wayne</option>
			</select>
			<select name="flight">
				<option>4882</option>
				<option>1720</option>
				<option>620</option>
			</select>
			<input type="submit" name="crewFlightSubmit">
		</fieldset>
	</form>
</div>